<!-- Yaml front matter php-->
---
title: my first post
excerpt: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus corrupti exercitationem.
date: 2021-05-21
slug: my-first-post
---
    <article>
        <h1> <a href="/post"> My first post</a></h1>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus corrupti exercitationem, alias porro excepturi aliquam dolorum eligendi et mollitia tenetur earum dicta ullam nihil rem voluptatum ut, quae debitis nisi.
        </p>
    </article>

    <a href="/posts">Go Back</a>
